@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>LibrarySystem : Home</title>
</head>
<body>
		<h2>Home Navigation</h2>
            <ul>
                 <li>@Html.ActionLink("Home", "Index", "Home")</li>
                 <li>@Html.ActionLink("Librarian", "Index", "")</li>
                 <li>@Html.ActionLink("Member", "Index", "")</li>
			    <li>@Html.ActionLink("Book", "Index", "")</li>
			    <li>@Html.ActionLink("Service", "Index", "")</li>
</ul>
</body>
</html>

